/* body{
  margin:0;
} */
body{
  margin:0;
  width:100vw;
  height: 100vh;
  background:rgba(249,249,249,1);
}
div,
span {
  font-family: PingFangSC-Medium,PingFang SC;
  font-weight: 400;
  font-size: 14px;
}
a {
  text-decoration: none;
  display: inline-block;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.colorFFF {
  color: #fff;
}
.font20 {
  font-size: 20px;
}
.font19 {
  font-size: 19px;
}
.font18 {
  font-size: 18px;
}
.font17 {
  font-size: 17px;
}
.font16 {
  font-size: 16px;
}
.font15 {
  font-size: 15px;
}
.font14 {
  font-size: 14px;
}
.font13 {
  font-size: 13px;
}
.font12 {
  font-size: 12px;
}
.font11 {
  font-size: 11px;
}
.font10 {
  font-size: 10px;
}
.font9 {
  font-size: 9px;
}
.font8 {
  font-size: 9px;
}
.mt40 {
  margin-top: 40px;
}
.mt30 {
  margin-top: 30px;
}
.mt25 {
  margin-top: 25px;
}
.mt20 {
  margin-top: 20px;
}
.mt15 {
  margin-top: 15px;
}
.mt10 {
  margin-top: 10px;
}
.mt5 {
  margin-top: 5px;
}
.ml40 {
  margin-left: 40px;
}
.ml35 {
  margin-left: 35px;
}
.ml30 {
  margin-left: 30px;
}
.ml25 {
  margin-left: 25px;
}
.ml20 {
  margin-left: 20px;
}
.ml15 {
  margin-left: 15px;
}
.ml10 {
  margin-left: 10px;
}
.ml5 {
  margin-left: 10px;
}

.pl30 {
  padding-left: 30px;
}
.pl25 {
  padding-left: 25px;
}
.pl20 {
  padding-left: 20px;
}
.pl15 {
  padding-left: 15px;
}
.pl10 {
  padding-left: 10px;
}
.pl5 {
  padding-left: 5px;
}

.pd30 {
  padding: 30px;
}
.pd25 {
  padding: 25px;
}
.pd20 {
  padding: 20px;
}
.pd15 {
  padding: 15px;
}
.pd10 {
  padding: 10px;
}
.pd5 {
  padding: 5px;
}
.text-center {
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}
.transBig:hover {
  transform: scale(1.01, 1.01);
}
.van-uploader__preview{
  widows: 90px;
  height:90px;
  border-radius:4px;
  margin-left:16px !important;
  margin-bottom: 10px !important;
  margin-right: 0 !important;
  margin-top:10px !important;
  } 
  .van-uploader__preview-image{
  width:90px !important;
  height:90px !important;
  border-radius:4px !important;
  }
  a{
    text-decoration: none;
  }
  .router-link-active {
    text-decoration: none;
  }